@import "chrome://chromelist/skin/tree.css";

#problem-button {
  list-style-image: url("chrome://chromelist/skin/icons/error.png");
  -moz-appearance: none;
  border: none !important;
  padding: 3px;
  margin: 1px 0 0;
  background: none;
  cursor: default;
}

#problem-button[disabled='true'] {
  list-style-image: url("chrome://chromelist/skin/icons/valid.png");
}
