.fileTree::-moz-tree-image(isFolder), 
.dirTree::-moz-tree-image(closed) {
  list-style-image: url("chrome://chromelist/skin/icons/folders.png");
  margin-right: 2px;
  -moz-image-region: rect(0px 16px 16px 0px);
}

.dirTree::-moz-tree-image(open) {
  list-style-image: url("chrome://chromelist/skin/icons/folders.png");
  -moz-image-region: rect(0px 32px 16px 16px);
  margin-right: 2px;
}

.fileTree::-moz-tree-image {
  margin-right: 2px;
  width: 16px;
}

#chrometreebox[filtered=true] #chromedirtreechildren::-moz-tree-cell-text(filtered), 
#chrometreebox[filtered=true] #chromefiletreechildren::-moz-tree-cell-text(filtered) {
  color: black !important;
}

#chrometreebox[filtered=true] #chromedirtreechildren::-moz-tree-cell-text(unfiltered), 
#chrometreebox[filtered=true] #chromefiletreechildren::-moz-tree-cell-text(unfiltered) {
  color: grey !important;
  font-style: italic !important;
}

#chrometreebox[filtered=true] #chromedirtreechildren::-moz-tree-row(filtered), 
#chrometreebox[filtered=true] #chromefiletreechildren::-moz-tree-row(filtered) {
  background-color: yellow;
}
